* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    color: #333;
    background-color: #f9f9f9;
}

/* NAVBAR */
header {
    background: #1f2933;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
}

.logo {
    color: #ffffff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #38bdf8, #0ea5e9);
    color: white;
    text-align: center;
}

.hero span {
    color: #1f2933;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #1f2933;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* SECTIONS */
.section {
    padding: 60px 80px;
    text-align: center;
}

.section-title {
    font-size: 28px;
    margin-bottom: 20px;
}

.section-text {
    max-width: 700px;
    margin: auto;
    font-size: 16px;
    line-height: 1.6;
}

.light {
    background: #ffffff;
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.skill-card {
    background: #1f2933;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
}

/* PROJECTS */
.project-card {
    background: white;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background: #1f2933;
    color: white;
    text-align: center;
    padding: 15px;
}
